.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.formContainer {
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
  flex: 1;
}

.backgroundPhoto {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.backgroundPhoto img {
  object-fit: cover;
  position: absolute;
}