.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--orange);
  border-radius: 50%;
  gap: 0.2rem;
  min-width: 3rem;
  min-height: 3rem;
  pad: 1rem 1rem;
  transition: background-color ease-out 0.3s;
}

.bar {
  background-color: var(--orange);
  height: 5px;
  width: 70%;
  border-radius: 4px;
}

.open {
  background-color: var(--orange);
}

.barOpen {
  background-color: white;
}