.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--orange);
  gap: 1rem;
  height: 5rem;
  width: 15.5rem;
  cursor: pointer;
  border-radius: 1.5rem;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.icon path {
  fill: var(--orange);
  transition: all 0.3s ease-in-out;
}

.isActive, .isActive:visited {
  background-color: var(--black-metal);
  color: white;
}

.isActive .icon path {
    fill: white;
}

@media (prefers-contrast: more) {
  .container {
    color: var(--black-metal);
  }

  .isActive, .isActive:visited {
    color: white;
  }
}