.container {
  background-color: white;
  border: 1px solid var(--light-grey);
  border-radius: 0.8rem;
  padding: 1.8rem 2rem;
  text-decoration: none;
}

.title {
  font-family: var(--font-manrope);
  font-size: 1.2rem;
  color: var(--black-metal);
}

.description {
  color: var(--dark-grey);
  font-size: 0.9rem;
}

.progressPercent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3.5rem;
  font-size: 0.75rem;
  color: var(--black-metal);
}

.progressPercent p:first-child {
  color: var(--dark-grey);
}

.progressBar {
  background-color: var(--light-grey);
  width: 100%;
  height: 0.5rem;
  border-radius: 2.5rem;
  margin-top: 1rem;
}

.progressor {
  --progress: 1;
  min-width: 0.5rem;
  height: 100%;
  width: calc(var(--progress) * 100%);
  background-color: var(--orange);
  border-radius: 2.5rem;
}

.tasks {
  color: var(--dark-grey);
  font-size: 0.6rem;
  margin-top: 0.5rem;
}

.team {
  color: var(--dark-grey);
  margin-top: 3.5rem;
  font-size: 0.6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.team svg path {
  fill: var(--dark-grey);
}

.contributors {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  margin-top: 1rem;
}

.owner {
  background-color: var(--light-orange);
  color: var(--orange);
}

.invitedContainer {
  display: flex;
  flex-direction: row;
}

.invited {
  color: var(--black-metal);
}

.invited:not(:first-child) {
  margin-left: -0.5rem;
}

@media (prefers-contrast: more) {
  .owner {
    color: var(--black-metal);
  }
}