.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.container h2 {
  font-family: var(--font-manrope);
  font-size: 1.5rem;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.buttonsContainer button {
  width: fit-content;
  padding: 0 2rem;
}

.saveButton {
  margin-left: 0;
}

.deleteButton {
  background-color: red;
  border: 1px solid red;
  margin-right: 0;
}

.deleteButton:hover {
  background-color: white;
  color: red;
  border: 1px solid red;
}

.error {
  font-size: 0.8rem;
  color: red;
}

@media (max-width: 450px) {
  .buttonsContainer button {
    max-width: 10rem;
    padding: 0 2rem;
  }
}

@media (prefers-contrast: more) {
  .deleteButton {
    background-color: #A80000;
  }
}