.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  background-color: white;
  padding: 0 6rem;
  width: 100%;
}

.largeMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.menuItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}

.burgerMenu {
  display: none;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.burgerMenuContent {
  display: grid;
  grid-template-rows: 0fr;
  max-width: 0;
  position: absolute;
  right: 6rem;
  margin-top: 1rem;
  overflow: hidden;
  opacity: 0;
  padding: 0.1rem;
  transition:
    grid-template-rows 0.3s ease-out,
    max-width 0.4s ease-out,
    opacity 0.2s ease;
}

.burgerMenuContentOpen {
  grid-template-rows: 1fr;
  opacity: 1;
  max-width: 50rem;
}

.contentWrapper {
  min-height: 0;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

@media (max-width: 1000px) {
  .largeMenu {
    display: none;
  }

  .burgerMenu {
    display: flex;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 0 2rem;
  }

  .burgerMenuContent {
    right: 2rem;
  }
}
