.container {
  background-color: var(--light-orange);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.container, .container:visited {
  color: var(--black-metal);
}

.isActive, .isActive:visited {
  background-color: var(--orange);
  color: white;
}