:root {
  --background: #F9FAFB;
  --orange: #D3590B;
  --light-orange: #FFE8D9;
  --black-metal: #1F1F1F;
  --dark-grey: #6B7280;
  --medium-grey: #9CA3AF;
  --light-grey: #E5E7EB;
  --white-grey: #F3F4F6;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
}

body {
  color: var(--black-metal);
  background: var(--background);
  font-family: var(--font-inter);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a, a:visited {
  color: var(--orange);
}

.toast {
  font-family: var(--font-inter);
  border-radius: 1rem;
}

.toast-success {
  color: var(--black-metal);
  border-color: var(--orange);
}

.toast-error {
  color: var(--light-grey);
  background-color: var(--orange);
  border-color: var(--black-metal);
}

[data-sonner-toast] {
  font-family: var(--font-inter) !important;
  border-radius: 1rem !important;
}

[data-sonner-toast][data-type="success"] {
  color: var(--black-metal) !important;
  border-color: var(--orange) !important;
}

[data-sonner-toast][data-type="error"] {
  color: var(--light-grey) !important;
  background-color: var(--orange) !important;
  border-color: var(--black-metal) !important;
}

@media (max-width: 500px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 360px) {
  html {
    font-size: 12px;
  }
}

@media (prefers-contrast: more) {
  a, a:visited {
    color: var(--black-metal);
  }
}