.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.searchBar {
  width: 22rem;
  height: 4rem;
  background-color: transparent;
  border-radius: 0.5rem;
  padding: 2rem 1.5rem;
  border: 1px solid var(--light-grey);
}

.button {
  height: 4rem;
  width: 4rem;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0.2rem;
}

@media (max-width: 850px) {
  .container {
    width: 16rem;
  }
}
