.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.showContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1rem;
  border: 1px solid var(--light-grey);
  color: var(--dark-grey);
  font-size: 0.8rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.showContainer svg path {
  stroke: var(--black-metal);
}

.showContainerExpanded {
  border-radius: 0.3rem 0.3rem 0 0;
}

.membersContainer {
  list-style: none;
  color: var(--dark-grey);
}

.membersContainer li {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  border: 1px solid var(--light-grey);
  border-top: none;
  cursor: pointer;
}

.membersContainer li:hover {
  background-color: var(--light-grey);
}

.membersContainer li:last-child {
  border-radius: 0 0 0.3rem 0.3rem;
}

.isSelected {
  background-color: var(--light-orange);
  color: var(--orange);
}