.button {
  height: 3.5rem;
  width: 3.5rem;
  border: 1px solid var(--light-grey);
  border-radius: 0.8rem;
  background-color: transparent;
  color: var(--dark-grey);
  font-size: 1rem;
  cursor: pointer;
  background-color: white;
  transition: all ease-in-out 0.2s;
}

.button:hover {
  color: var(--orange);
  border: 1px solid var(--orange);
}