.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  font-size: 1rem;
}

.input {
  background-color: white;
  border: 1px #E5E7EB solid;
  height: 3.25rem;
  border-radius: 0.25rem;
  padding: 0 1rem;
  color: var(--dark-grey);
}

.input::placeholder {
  color: var(--medium-grey);
}

.error {
  color: red;
  font-size: 0.8rem;
}