.container {
  background-color: var(--light-grey);
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  font-size: 0.7rem;
  color: var(--black-metal);
}

.leader {
  background-color: var(--light-orange);
  color: var(--orange);
}

@media (prefers-contrast: more) {
  .leader {
    color: var(--black-metal);
  }
}