.container {
  width: 38rem;
  padding: 5rem 4.5rem;
  margin: auto;
  border: none;
  border-radius: 0.6rem;
  height: fit-content;
}

.fullHeight {
  height: auto;
}

.container::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

.closeIcon {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}