.baseColor {
  background-color: var(--light-grey);
  color: var(--dark-grey);
}

.owner {
  background-color: var(--light-orange);
  color: var(--orange);
}

@media (prefers-contrast: more) {
  .baseColor {
    color: var(--black-metal);
  }

  .owner {
    color: var(--black-metal);
  }
}